<% content_for(:title, 'The Program')%>

<div class="small-12 large-12 columns" id="our-program">
  <div class="small-12 large-10 large-offset-2 columns">
    <div class="small-4 large-4 columns" id="our-program-header-image">
      <%= image_tag "content.jpg", alt: "the-program-img",
                                    id: "the-program-img" %>
    </div>
    <div class="small-8 large-8 columns">
      <h1 id="our-program-h1">The Program</h1>
    </div>
  </div>
</div>
<div class="small-12 large-10 large-offset-1 columns x2-margin-top" id="about-vcoder">
  <p class="description-style x2-margin-top x2-margin-bottom"><strong id="vcoder-bc">Vcoder Bootcamp</strong> is a short ­term (20 weeks) immersive developer bootcamp ideally to take eager learners or aspiring software engineers with little to no experience and teach them what it takes to get paid as a full­ stack junior web developers.
  There is a lot more to coding that just writing code. Learn how to think like a software engineer you will learn CS fundaments and engineering best practice like what you would use in your workplace.</p>
</div>
<div id="program-2nd-row" class="small-12 large-10 large-offset-1 columns">
  <h2 class="text-center text-dark-blue x2-margin-top"
      id="who-we-teach">Who We Teach</h2>
  <p class="description-style x2-margin-top">We do not base our admissions decisons on simply on how much programming experience you have. We are looking students who posess elements such as integrety, kindness and whole self beause that is whats important. We truly believe that anyone can code as long as they have passion to fully immerse themselves in the program.<br>
  That is why we look for students who have: </p>
  <ul class="description-style x2-margin-bottom" id="program-student">
    <li>
      A passion to build and create beautiful and meaningful projects in the world through code
    </li>
    <li>
      Ability to think creatively, analytically and with depth about problems
    </li>
    <li>Ability to learn/teach and communicate under pressure</li>
    <li>Alignment with our values, which includes a care for deeper self­awareness and a passion for working with others</li>
  </ul>
</div>
<div id="program-3nd-row" class="small-12 large-10 large-offset-1 columns">
  <h2 class="text-center text-dark-blue x2-margin-top"
        id="who-we-teach">Your Experience</h2>
  <div class="">
    <p class="description-style x2-margin-top">
    Our curriculum focuses on Ruby on Rails, MySQL, HTML & CSS, Jquery as well as pair programming, agile and test driven development all while integrating the importance of team skills like communication, empathy and effective feedback.
    </p>
    <div class="small-12 large-12 columns">
      <div class="small-4 large-1 columns">
        <%= image_tag "the_program_img/learn.png", alt: "learn-img" %>
      </div>
      <p class="small-8 large-11 columns description-style">
        <strong class="text-black">Learn -</strong> We believe in practice makes perfect. That's why there will only be around you to put those materials to test. Exercizes and challenges will be thrown at you until 30 minutes of lecture when we meet and the rest of the time is reserved for you master the skills and understand the concept... even in your sleep.
      </p>
    </div>
    <div class="small-12 large-12 columns">
      <div class="small-4 large-1 columns">
        <%= image_tag "the_program_img/live_coding.png", alt: "live-coding-img" %>
      </div>
      <p class="small-8 large-11 columns description-style">
        <strong class="text-black">Live Coding -</strong>New Excersices and Challenges will be introduced to you live on our projector with plenty of explainations to get you started. Students can interractively shout out questions and get help.
      </p>
    </div>
    <div class="small-12 large-12 columns">
      <div class="small-4 large-1 columns">
        <%= image_tag "the_program_img/pair_programming.jpg", alt: "pair-img" %>
      </div>
      <p class="small-8 large-11 columns description-style">
        <strong class="text-black">Pair Programming -</strong>It's true, sometimes two is better than one. In this course, you will have the chance to work with many other Vcoders through pair programming on real­world projects. Still stuck? No worries, take advantage of our extensive office hours with live mentors ready to answer your questions.
      </p>
    </div>
    <div class="small-12 large-12 columns">
      <div class="small-4 large-1 columns">
        <%= image_tag "the_program_img/group_projects.ico", alt: "group-projects-img" %>
      </div>
      <p class="small-8 large-11 columns description-style">
        <strong class="text-black">Group Projects -</strong>At some point in the course, students can form groups and build whatever exciting projects you may have in mind and present it to the class. This will not only teach students skills around project management, but also team communication.
      </p>
    </div>
    <div class="small-12 large-12 columns">
      <div class="small-4 large-1 columns">
        <%= image_tag "the_program_img/build_app.png", alt: "build-app-img" %>
      </div>
      <p class="small-8 large-11 columns description-style">
        <strong class="text-black">Build production­grade web applications­ -</strong>Students will learn and use cutting edge technologies and skills to apply their passion into building production­grade web apps. You will be so proud of your projects that you may even decide to put it in your professional resume and portfolio.
      </p>
    </div>
    <div class="small-12 large-12 columns">
      <div class="small-4 large-1 columns">
        <%= image_tag "the_program_img/events.png", alt: "event-img" %>
      </div>
      <p class="small-8 large-11 columns description-style">
        <strong class="text-black">Events -</strong>­You’ll attend meetups, go through mock interviews, spend time with fellow Vcoders in various activities.
      </p>
    </div>
  </div>
</div>


