<div class="row x2-margin-top"><br>
  <div class="small-12 large-6 columns panel white-bg eq-height">
    <h3 class="ct-h2 text-dark-grey">Student sign in</h3>
    <%= form_for(resource, :as => resource_name,
                           :url => session_path(resource_name),
                            :html => {:class => "x2-margin-top form-custom"}) do |f| %>
      <div><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %>
      </div>
      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div><%= f.submit "SIGN IN", class: "small button radius primary" %></div>
    <% end %>
  </div>
  <div class="small-12 large-6 columns panel text-center eq-height" id="new-account">
    <div id="inner-new-account">
      <h3 class="ct-h2 text-dark-grey">Don't have an account?</h3>
      <div class="help_block x2-margin-top">* Please contact office admin or you mentor to set up one.</div>
    </div>
  </div>
</div>
