<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "VCoder BootCamp" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="fixed top-bar-shadow" ng-controller="pageslideCtrl">
      <nav class="top-bar sticky" data-topbar role="navigation">
        <ul class="title-area">
          <!-- Brand Area -->
          <li class="name">
            <h1>
              <a href="/#/">
                <%= image_tag "white2.png", id: "cr-main-logo", alt: "Vcoder" %>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="/#/"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right" id="top-right">
            <li><a href="/#/">DASHBOARD</a>
            <li class="divider"></li>
            <!-- <li class="divider show-for-small"></li>
            <li><a href="<%= the_program_path %>">THE PROGRAM</a> !-->
            <li id="sign-in-li">
              <%= link_to "SIGN OUT",
                           destroy_user_session_path,
                            method: :delete,
                            class: "large button radius",
                            id: "btn-sign-in" %>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="container">
      <div ng-controller="pageslideCtrl" id="off-canvas-control">
        <a class="button primary btn-off-canvas"
            href="javascript:;"
            ng-click="toggle()"><i class="fa fa-th fa-lg"></i></a>
        <div pageslide ps-open="checked"
              ps-auto-close="true"
              ps-size="240px"
              ps-cloak="false"
              ps-side="left"
              ps-push="true"
              ps-speed="0.5"
              id="div-off-canvas">
          <div id="custom-off-canvas">
            <ul class="no-bullet oc-menu">
              <li>
                <a href="/#/">
                  <i class="cl-blue infi">&infin;</i>
                  <span class="oc-menu-text">DashBoard<span>
                </a>
              </li>
              <li>
                <a href="/#/">
                  <i class="fa fa-user cl-brown"></i>
                  <span class="oc-menu-text">View Profile</span>
                </a>
              </li>
              <li>
                <a href="/#/">
                  <i class="fa fa-rocket cl-green"></i>
                  <span class="oc-menu-text">Help Request</span>
                </a>
              <li>
                <a href="/#/">
                  <i class="fa fa-cog cl-orange"></i>
                  <span class="oc-menu-text">Settings</span>
                </a>
              </li>
             </ul>
             <ul class="no-bullet oc-menu" ng-show="isAdmin()">
              <li>
                <a href="/#/">
                  <i class="fa fa-bullhorn"></i>
                  <span class="oc-menu-text">Annoucements<span>
                </a>
              </li>
              <li>
                <a href="/#/students">
                  <i class="fa fa-graduation-cap"></i>
                  <span class="oc-menu-text">Students Accounts</span>
                </a>
              </li>
              <li>
                <a href="/#/">
                  <i class="fa fa-comments-o"></i>
                  <span class="oc-menu-text">Help Request</span>
                </a>
              </li>
              <li>
                <a href="/#/">
                  <i class="fa fa-pencil"></i>
                  <span class="oc-menu-text">Blog</span>
                </a>
              <li>
                <a href="/#/">
                  <i class="fa fa-cog"></i>
                  <span class="oc-menu-text">Settings</span>
                </a>
              </li>
             </ul>
          </div>
        </div>
      </div>
      <div class="marry-weather" data-ng-view></div>
      <div id="help-request">
        <button class="button alert hr-btn shake shake-little">
          <i class="fa fa-comments-o hr-icon"></i>
        </button>
      </div>
    </div> <!-- /container -->
    <script>
      window.paceOptions = {
        document: true, // disabled
        eventLag: true,
        restartOnPushState: true,
        restartOnRequestAfter: true,
        ajax: {
            trackMethods: [ 'POST','GET']
        }
      };

    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
