<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "VCoders BootCamp - Full-Stack Web Development with Ruby on Rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">Vcoder Bootcamp </a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">HOME</a>
          <li class="divider"></li>
          <li class="divider show-for-small"></li>
          <li><a href="#">THE PROGRAM</a>
          <li class="divider"></li>
          <li class="divider show-for-small"></li>
          <li><a href="#">CURRICULUM</a>
          <li class="divider"></li>
          <li class="divider show-for-small"></li>
          <li><a href="#">TUITON</a>
          <li class="divider"></li>
          <li class="divider show-for-small"></li>
          <li><a href="#">FAQ</a>
          <li class="divider"></li>
          <li class="divider show-for-small"></li>
          <li id="sign-in-li">
            <a class="large button radius" id="btn-sign-in" href="#">SIGN IN</a>
          </li>
        </ul>
      </section>
    </nav>
    <div class="sub-top"></div>
    <% if flash.any? %>
      <div class="row-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
