<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "VCoders BootCamp - Full-Stack Web Development with Ruby on Rails" %></title>
    <%= favicon_link_tag 'favicon.png' %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar sticky" data-topbar role="navigation">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/"><%= image_tag "white2.png", id: "main-logo" %>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right" id="top-right">
            <li><a href="/">HOME</a>
            <li class="divider"></li>
            <li class="divider show-for-small"></li>
            <li><a href="<%= the_program_path %>">THE PROGRAM</a>
            <li class="divider"></li>
            <li class="divider show-for-small"></li>
            <li><a href="<%= curriculum_path %>">CURRICULUM</a>
            <li class="divider"></li>
            <li class="divider show-for-small"></li>
            <li><a href="<%= tuition_path %>">TUITION</a>
            <li class="divider"></li>
            <li class="divider show-for-small"></li>
            <li><a href="<%= faq_path %>">FAQ</a>
            <li class="divider"></li>
            <li class="divider show-for-small"></li>
            <li id="sign-in-li">
              <a class="large button radius" id="btn-sign-in" href="/users/sign_in">SIGN IN</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="sub-top"></div>
    <% if flash.any? %>
      <div class="row-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <% unless @unset_footer.present? %>
      <div class="small-12 large-12 columns l-footer m-footer">
        <span class="text-grey">© 2015 VCoder Bootcamp. All rights reserved.</span>
      </div>
    <% end %>
  </body>
</html>
